{% assign podcast = site.data.podcasts[include.id] %}
{% if podcast and podcast.audio %}
  {% assign audio_path = podcast.audio | prepend: "/" %}
  {% assign audio_file = site.static_files | where: "path", audio_path | first %}
  {% if audio_file %}
    <div class="podcast-audio">
      {% include audio.liquid path=podcast.audio controls=true preload="none" %}
    </div>
  {% endif %}
{% endif %}
